<body>
  <div class="header">
    <h1>
      CS 4500 The Box Club<br />
      Team #15 Capstone Project Website<br />
      Team Members: Alan Bird, Eric Sims, Kevin Law, Tyler Grant
    </h1>
    <img class="big-icon" src="assets/BOXIEFAVICON.jpg" />
  </div>
  <hr />
  <div>
    Links and Files:<br />
    <a href="assets/Capstone-Project-Design-Document-Boxie-4.pdf"
      >Design Document</a
    ><br /><a href="assets/BOXIE-user-guide.pdf">User Guide</a> <br /><br />
    <a href="assets/Team15WMR12.pdf">11/18/22 Weekly Managment Report #12</a>
    <br />
    <a href="assets/Team15WMR11.pdf">11/11/22 Weekly Managment Report #11</a>
    <br />
    <a href="assets/Team15WRM10.pdf">11/4/22 Weekly Managment Report #10</a
    ><br />
    <a href="assets/Team15WRM9.pdf">10/28/22 Weekly Managment Report #9</a
    ><br />
    <a href="assets/Team15WRM8.pdf">10/21/22 Weekly Managment Report #8</a
    ><br />
    <a href="assets/Team15WRM7.pdf">10/7/22 Weekly Managment Report #7</a><br />
    <a href="assets/Team15WRM6.pdf">9/30/22 Weekly Managment Report #6</a><br />
    <a href="assets/Team15WRM5.pdf">9/23/22 Weekly Managment Report #5</a><br />
    <a href="assets/Team15WRM4.pdf">9/16/22 Weekly Managment Report #4</a><br />
    <a href="assets/Team15WRM3.pdf">9/9/22 Weekly Managment Report #3</a><br />
    <a href="assets/Team15WRM2.pdf">9/2/22 Weekly Managment Report #2</a><br />
    <a href="assets/Team15WMR.pdf">8/6/22 Weekly Managment Report #1</a><br />
    <br />
    Individual Logs:<br />
    <a href="assets/Bird18November22.pdf">Alan's logs</a><br />
    <a href="assets/eric_log_2022.pdf">Eric's logs</a><br />
    <a href="assets/KevinLogs.pdf">Kevin's logs</a><br />
    <a href="assets/Grant18November2022.pdf">Tyler's logs</a><br />
  </div>
</body>
