<body>
  <div class="header">
    <h1>
      CS 4500 The Box Club<br />
      Team #15 Capstone Project Website<br />
      Team Members: Alan Bird, Eric Sims, Kevin Law, Tyler Grant
    </h1>
    <img class="big-icon" src="../../assets/BOXIEFAVICON.jpg" />
  </div>
  <hr />
  <div>
    Links and Files:<br />
    <a href="../../assets/Team15WMR.pdf">8/6/22 Weekly Managment Report #1</a
    ><br /><br />
    Individual Logs:<br />
    <a routerLink="user-logs/alan">Alan's logs</a><br />
    <a routerLink="user-logs/eric">Eric's logs</a><br />
    <a routerLink="user-logs/kevin">Kevin's logs</a><br />
    <a routerLink="user-logs/tyler">Tyler's logs</a><br />
  </div>
</body>
