<body>
  <div class="header">
    <h1>
      CS 4500 The Box Club<br />
      Team #15 Capstone Project Website<br />
      Team Members: Alan Bird, Eric Sims, Kevin Law, Tyler Grant
    </h1>
    <img class="big-icon" src="assets/BOXIEFAVICON.jpg" />
  </div>
  <hr />
  <div>
    Links and Files:<br />
    <a href="assets/Capstone-Project-Design-Document-Boxie.pdf"
      >Design Document</a
    ><br /><br />
    <a href="assets/Team15WRM3.pdf">9/9/22 Weekly Managment Report #3</a><br />
    <a href="assets/Team15WRM2.pdf">9/2/22 Weekly Managment Report #2</a><br />
    <a href="assets/Team15WMR.pdf">8/6/22 Weekly Managment Report #1</a><br />
    <br />
    Individual Logs:<br />

    <a href="assets/Bird16September22.pdf">Alan's logs</a><br />
    <a href="assets/eric_log_2022.pdf">Eric's logs</a><br />
    <a href="assets/Law9September2022.pdf">Kevin's logs</a><br />
    <a href="assets/Grant16September2022.pdf">Tyler's logs</a><br />
  </div>
</body>
